.font-cursive {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#drinkoligist-title:hover {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.main {
    background-image: url('/assets/images/bar-background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center; 
    height: 100%;
    margin: 0;
    overflow-x: hidden; 
}

#hist-1 {
    color: white;
    font-weight: 400;
}

#drink-name {
    font-size: 42px;
    font-weight: 650;
    color: white;
    padding: 20px 0;
    text-align: center;
}


#drink-mi {
    padding-bottom: 10px;
    display: flex;
    color: white;
    justify-content: center;
    font-weight: 500;
}

#drink-instructions {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
}

.history-btn {
    display: block;
    width: 100%; 
    padding: 5px 5px; 
    margin: 5px 0;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.history-btn:hover {
    background-color: #7e7c7c;
}

.btn-history {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }

    .lg\:justify-center {
        justify-content: center;
    }

    .lg\:w-1\/4 {
        width: 25%;
    }

    .lg\:w-3\/4 {
        width: 75%;
    }
}

@media (max-width: 640px) {
    .lg\:flex {
        display: block;
        /* Switch to rows layout */
    }
}